nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: bold;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}


main img
{
    /* constrain images on small screens */
    max-width: 100%;
    object-fit: cover;
    width: 100%;

}

.background {
  text-align: center;
  background-color: white;
}

h2 {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    width: 3em;
    margin: auto;
}

h3 {
    width: 7em;
    margin: auto;
}

.cardfontcolor {
    color: black;
}

.wid {
    margin-left: 10%;
    margin-right: 10%;

}

body {
    color: black;
    padding-top: 25px;
}

.center {
    margin: auto;
}

/* taken from https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.card:hover {
    border: 1px solid red;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

h4 {
    text-decoration: underline;
}

.width {
    max-width: 15em;
}

.image-wrap {
    position: relative;
    width: 100%;
    height: auto;

}

.wrapper {
    max-width: 100%; 
    max-height: 100%; 
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height:100%;
}

.entirebox {
    width: 10%;
    height: 10%;
    border-radius: 15px;
    border: 5px solid red;
  }
  
#box {
    background-color: white;
    opacity: 1;
}

#btnScrollToTop { 
    position: fixed; 
    right: 10px; 
    bottom: 10px; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background: red; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); 
    color: white; 
    border: none; 
    outline: none; 
    cursor: pointer; 
} 

#btnScrollToTop:active { 
    background: #cc2333; 
}

.boundingbox {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    border: solid blue; 
    padding-bottom: 10%; 
    padding-right:10%
}

.inscriptions {
    display: block;
}

.depictions {
    display: block;
}

path {
    fill: blue;
}

.pinpoint{
    position:absolute;
    width:50px;
    height:50px;
    top: 0%;
    left: 0%;
}

.qr-code {
    max-width: 200px;
    margin: 10px;
  }