<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/gear.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Arsu Relief</title>

    </head>

    <br><br><br>
    <body class="background" onload="addInfo()">
        <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
            <a class="navbar-brand" href="/"><img src="/static/cog.png" style="padding-left: 10%" height="55" alt="COG"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/qr_code">QR Code Generator</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Dura-Europos">Other Resources</a></li>
                    </ul>
            </div>
        </nav>

        <div class="vertical-center">
            <main class="container">

                <div class="wid">
                    <a href="#explanation">
                        <h1> Relief of Arsu </h1>
                    </a>
                    <div class= "wrapper">
                            <img src={{image}} alt="object1" class="img-fluid">
                            {%for entry in depictions%}
                                <a onclick="highlight(event)" href="#{{loop.index-1}}depicts">
                                    <div class="boundingbox depictions" style="left: {{entry[1][0]}}%; top: {{entry[1][1]}}%; padding-right: {{entry[1][2]}}%; padding-bottom: {{entry[1][3]}}%;" id="{{loop.index-1}}depictspos"></div>
                                </a>
                            {%endfor%}
                            {%for entry in translations%}
                                <a onclick="highlight(event)" href="#{{loop.index-1}}inscripts">
                                    <div class="boundingbox inscriptions" style="left: {{entry[2][0]}}%; top: {{entry[2][1]}}%; padding-right: {{entry[2][2]}}%; padding-bottom: {{entry[2][3]}}%;" id="{{loop.index-1}}inscriptspos"></div>
                                </a>
                            {%endfor%}
                    </div>
                    <br>
                    <label for="boxes">Select the boxes you would like to see:</label>

                    <select name="boxes" id="boxes">
                        <option value="all" selected>All</option>
                        <option value="inscriptions">Inscriptions only</option>
                        <option value="depictions">Depictions only</option>
                    </select>
                    <br>

                    <label for="inscolors">If desired, change inscription bounding box outline color:</label>

                    <select name="inscolors" id="inscolors">
                        <option value="blue" selected>Blue</option>
                        <option value="silver">Silver</option>
                        <option value="red">Red</option>
                        <option value="black">Black</option>
                    </select>
                    <br>
                    <label for="depcolors">If desired, change depiction bounding box outline color:</label>

                    <select name="depcolors" id="depcolors">
                        <option value="blue">Blue</option>
                        <option value="silver">Silver</option>
                        <option value="red" selected>Red</option>
                        <option value="black">Black</option>
                    </select>

                    <br>
                    <div>
                        <!-- Loading in data from Flask and using Jinja to put the data onto the page-->
                        <h1>Inscriptions on this Object</h1> <br>
                        {%for entry in translations%}
                            <div id="{{loop.index-1}}inscripts">
                                <h4> Inscription:</h4>
                                    <text>{{entry[0]}}</text>
                                    <br>
                                <h4>Translation:</h4>
                                    <text>{{entry[1]}}</text>
                                    <br>
                                <a onclick="highlight(event)" href="#{{loop.index-1}}inscriptspos"> 
                                    <h4>Location on Image</h4> 
                                </a>
                            </div>
                            <hr style="border-width:5px">    
                        {%endfor%}
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Depictions on this Object</h1> <br>
                        {%for entry in depictions%}
                            {% set title = page_titles[loop.index-1] %}
                            <div id="{{loop.index-1}}depicts">
                                <h4>Depicts:</h4>
                                    <a href="{{entry[0]}}">{{title}}</a>
                                <a onclick="highlight(event)" href="#{{loop.index-1}}depictspos"> 
                                    <h4>Location on Image</h4> 
                                </a>
                            </div>
                            <hr style="border-width:5px">
                        {%endfor%}
                    </div>

                    <a id="explanation">
                        <p> Explanation of what is going on </p>
                    </a>
                    <p>The Location Shown Below is Approximate, calculated from Map Coordinates and Projected onto a Satellite Image of Dura-Europos</p>
                    <div class= "wrapper" onLoad="loadfunc(40.727421, 34.750515)">
                        <img src="http://www.athenapub.com/aria1/_Syria/md_syria-dura-satellite.jpg" alt="map" class="img-fluid">
                        <div id="pinpoint" class= "pinpoint" style= "">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="0 0 256 256" xml:space="preserve" >
                                <desc>Created with Fabric.js 1.7.22</desc>
                                <defs>
                                </defs>
                                <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                                    <path d="M 45 0 C 25.463 0 9.625 15.838 9.625 35.375 c 0 8.722 3.171 16.693 8.404 22.861 L 45 90 l 26.97 -31.765 c 5.233 -6.167 8.404 -14.139 8.404 -22.861 C 80.375 15.838 64.537 0 45 0 z M 45 48.705 c -8.035 0 -14.548 -6.513 -14.548 -14.548 c 0 -8.035 6.513 -14.548 14.548 -14.548 s 14.548 6.513 14.548 14.548 C 59.548 42.192 53.035 48.705 45 48.705 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                                </g>
                                </svg>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                <p>Contact: <a href="mailto:jasmine.sahu-hough@yale.edu">jasmine.sahu-hough@yale.edu</a></p>
                </div>
            </main>
        </div>
        <a href="#top">
            <button id="btnScrollToTop"> 
                <i class="material-icons">arrow_upward</i>
            </button> 
        </a> 
        <script> 
            var highlightedBox = null;
            var highlightedDescript = null;
            
            function highlight(event) {
                let anchor = event.target.closest("a");
                let temp = anchor.getAttribute("href");
                let tempBox = null;
                let tempDescript = null;
                if (temp.includes("pos")) {
                    tempBox = temp;
                    tempDescript = temp.slice(0, -3);
                } else {
                    tempBox = temp + "pos";
                    tempDescript = temp;
                }

                
                let color = null;
                if (temp.includes("inscript")) {
                    color = $("#inscolors").val();
                } else {
                    color = $("#depcolors").val();
                }
                
                if (highlightedBox != null) {
                    $(highlightedBox).css("border", "3px solid " + color);
                    $(highlightedDescript).css("border", "none");
                }

                highlightedBox = tempBox;
                highlightedDescript = tempDescript
                $(highlightedBox).css("border", "5px dashed " + color);
                $(highlightedDescript).css("border", "5px dashed #000000");
            }   
            
            $("#inscolors").change(function(){
                let color = $("#inscolors").val();
                $('.inscriptions').css("border", "solid " + color);
                $('path').css("fill", color);
            });
            
            $("#depcolors").change(function(){
                let color = $("#depcolors").val();
                $('.depictions').css("border", "solid " + color);
                $('path').css("fill", color);
            });

            $("#boxes").change(function(){
                let visibility = $("#boxes").val();

                if (visibility == "inscriptions") {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "hidden")
                }
                else if (visibility == "depictions") {
                    $('.inscriptions').css("visibility", "hidden")
                    $('.depictions').css("visibility", "visible")
                }
                else {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "visible")
                }
            });
            
            document.addEventListener('DOMContentLoaded', function() {
                const xval = (40.732683 * 60321.7158176944) - 2456580;
                const yval = (34.747237 *  -79238.8525986936) + 2753796.232036354943122;
                const xpercent = (xval / 703) * 100;
                const ypercent = (yval / 800) * 100;
                const xpercentstring = xpercent.toString() + '%';
                const ypercentstring = ypercent.toString() + '%';
                $('.pinpoint').css("top", ypercentstring);
                $('.pinpoint').css("left", xpercentstring); 
            }, false);

            function addInfo() {
                let newSection = document.createElement("h4")
                newSection.innerHTML = "Editor's Note: Arsu"
                let newInfo = document.createElement("text")
                newInfo.innerHTML = "A Palmyrene deity, usually depicted with a helmet and small round shield. Here, unusually, he is bare-headed. Find out more about Arsu at https://en.wikipedia.org/wiki/Arsu"
                // newSection.after(newInfo)
                $("#אדצר\\ רממ׳א").append(newSection)
                $("#אדצר\\ רממ׳א").append(newInfo)

                let newSection2 = document.createElement("h4")
                newSection2.innerHTML = "Editor's Note: The Camel Rider"
                let newInfo2 = document.createElement("text")
                newInfo2.innerHTML = "The translation ‘camel rider’ has been disputed by the various editors of this text. Robert Du Mesnil du Buisson originally offered the translation ‘the spear’, arguing that it represented thunder. H. Ingholt disputed this and suggested ‘camel rider’ instead, pointing to other depictions of Arsu in both Dura and Palmyra. Jean Starcky preferred ‘Arsu and the Rider’, arguing that this referred to a deity that is not depicted in the relief and Ingholt seems to have deferred to her opinion in the 1970s."
                // newSection.after(newInfo)
                $("#אדצר\\ רממ׳א").append(newSection2)
                $("#אדצר\\ רממ׳א").append(newInfo2)
            }

        </script>
    </body>

</html>