<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/gear.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Gad Relief</title>

    </head>

    <br><br><br>
    <body class="background" onload="addInfo()">
        <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
            <a class="navbar-brand" href="/"><img src="/static/cog.png" style="padding-left: 10%" height="55" alt="COG"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/qr_code">QR Code Generator</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Dura-Europos">Other Resources</a></li>
                    </ul>
            </div>
        </nav>

        <div class="vertical-center">
            <main class="container">

                <div class="wid">
                    <a href="#explanation">
                        <h1> Cult relief of the Gad (Fortune) of Dura, from the Temple of the Gadde </h1>
                    </a>
                    <div class= "wrapper">
                            <img src={{image}} alt="object1" class="img-fluid">
                            {%for entry in depictions%}
                                <a href="#{{entry[0]}}">
                                    <div class="boundingbox depictions" style="left: {{entry[1][0]}}%; top: {{entry[1][1]}}%; padding-right: {{entry[1][2] * 0.9}}%; padding-bottom: {{entry[1][3] * 0.85}}%;" id="{{entry[0]}}.pos"></div>
                                </a>
                            {%endfor%}
                            {%for entry in translations%}
                                <a href="#{{entry[0]}}">
                                    <div class="boundingbox inscriptions" style="left: {{entry[2][0]}}%; top: {{entry[2][1]}}%; padding-right: {{entry[2][2] * 0.9}}%; padding-bottom: {{entry[2][3] * 0.85}}%;" id="{{entry[0]}}.pos"></div>
                                </a>
                            {%endfor%}
                    </div>

                    <label for="colors">If desired, change bounding box outline color:</label>

                    <select name="colors" id="colors">
                        <option value="blue" selected>Blue</option>
                        <option value="silver">Silver</option>
                        <option value="red">Red</option>
                        <option value="black">Black</option>
                    </select>
                    <br>

                    <label for="boxes">Select the boxes you would like to see:</label>

                    <select name="boxes" id="boxes">
                        <option value="all" selected>All</option>
                        <option value="inscriptions">Inscriptions only</option>
                        <option value="depictions">Depictions only</option>
                    </select>

                    <br>
                    <div>
                        <!-- Loading in data from Flask and using Jinja to put the data onto the page-->
                        <h1>Inscriptions on this Object</h1> <br>
                        {%for entry in translations%}
                            <div id="{{entry[0]}}">
                                <h4> Inscription:</h4>
                                    <text>{{entry[0]}}</text>
                                    <br>
                                <h4>Translation:</h4>
                                    <text>{{entry[1]}}</text>
                                    <br>
                            </div>
                            <a href="#{{entry[0]}}.pos"> 
                                <h4>Location on Image</h4> 
                            </a>
                            <hr style="border-width:5px">    
                        {%endfor%}
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Depictions on this Object</h1> <br>
                        {%for entry in depictions%}
                            {% set title = page_titles[loop.index-1] %}
                            <div id="{{entry[0]}}">
                                <h4>Depicts:</h4>
                                    <a href="{{entry[0]}}">{{title}}</a>
                                <a href="#{{entry[0]}}.pos"> 
                                    <h4>Location on Image</h4> 
                                </a>
                            </div>
                            <hr style="border-width:5px">
                        {%endfor%}
                    </div>

                    <a id="explanation">
                        <p> Explaination of what is going on </p>
                    </a>
                    <p>The Location Shown Below is Approximate, calculated from Map Coordinates and Projected onto a Satellite Image of Dura-Europos</p>
                    <div class= "wrapper" onLoad="loadfunc(40.727421, 34.750515)">
                        <img src="http://www.athenapub.com/aria1/_Syria/md_syria-dura-satellite.jpg" alt="map" class="img-fluid">
                        <div id="pinpoint" class= "pinpoint" style= "">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="0 0 256 256" xml:space="preserve" >
                                <desc>Created with Fabric.js 1.7.22</desc>
                                <defs>
                                </defs>
                                <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                                    <path d="M 45 0 C 25.463 0 9.625 15.838 9.625 35.375 c 0 8.722 3.171 16.693 8.404 22.861 L 45 90 l 26.97 -31.765 c 5.233 -6.167 8.404 -14.139 8.404 -22.861 C 80.375 15.838 64.537 0 45 0 z M 45 48.705 c -8.035 0 -14.548 -6.513 -14.548 -14.548 c 0 -8.035 6.513 -14.548 14.548 -14.548 s 14.548 6.513 14.548 14.548 C 59.548 42.192 53.035 48.705 45 48.705 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                                </g>
                                </svg>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                        <p>Contact: <a href="mailto:cog@yale.edu">cog@yale.edu</a></p>
                </div>
            </main>
        </div>
        <button id="btnScrollToTop"> 
            <i class="material-icons">arrow_upward</i>
        </button> 
        <script> 
            const btnScrollToTop = document.querySelector("#btnScrollToTop"); 
            btnScrollToTop.addEventListener("click", function() { 
                $("html, body").animate({scrollTop: 0 }, "slow"); 
            }); 

            document.addEventListener('DOMContentLoaded', function() {
                const xval = (40.730809 * 60321.7158176944) - 2456580;
                const yval = (34.747401 *  -79238.8525986936) + 2753796.232036354943122;
                const xpercent = (xval / 703) * 100;
                const ypercent = (yval / 800) * 100;
                const xpercentstring = xpercent.toString() + '%';
                const ypercentstring = ypercent.toString() + '%';
                $('.pinpoint').css("top", ypercentstring);
                $('.pinpoint').css("left", xpercentstring); 
            }, false);
            
            $("#colors").change(function(){
                let color = $("#colors").val();
                $('.boundingbox').css("border", "solid " + color);
                $('path').css("fill", color);
            });

            $("#boxes").change(function(){
                let visibility = $("#boxes").val();

                if (visibility == "inscriptions") {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "hidden")
                }
                else if (visibility == "depictions") {
                    $('.inscriptions').css("visibility", "hidden")
                    $('.depictions').css("visibility", "visible")
                }
                else {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "visible")
                }
            });

            function addInfo() {
                let newSection = document.createElement("h4")
                newSection.innerHTML = "Editor's Note: Gad of Dura"
                let newInfo = document.createElement("text")
                newInfo.innerHTML = "Gad is an Aramaic deity equivalent to the Greek Tyche (Fortune), who often acts as a titulary deity and protector of named cities. Here Gad is represented as Zeus Olympias - bearded, carrying a sceptre, and enthroned between two eagles. This is in stark contrast to the companion relief of this inscription, which shows the Gad of Tadmor (the indigenous name for Palmyra) as a goddess, following the type of a famous relief of the Tyche of Antioch. This inscription is especially significant for being the earliest dated attestation that the indigenous name of the city was Dura."
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newSection)
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newInfo)

                let newSection2 = document.createElement("h4")
                newSection2.innerHTML = "Editor's Note: Hairan Son of Maliku"
                let newInfo2 = document.createElement("text")
                newInfo2.innerHTML = "Hairan son of Maliku was a member of the Palmyrene aristocracy associated with Dura-Europos in the 2nd century CE. Scholars have suggested that he may be an ancestor of the husband of Queen Zenobia, the Palmyrene ruler who rebelled against the Roman empire in the 3rd century CE. He is known from two relief inscriptions at Dura-Europos, one dedicated to the Gad of Dura and the other to the Tyche of Palmyra. The sanctuary in which these two dedications were made, the Temple of the Gadde, seems to have enjoyed significant financing from Hairan’s family. Ann Perkins observes that the subtle differences in the sculpting of the two pieces indicates that two different craftsmen worked on them. The two are still similar in style, however, and given their close dating (both from 159 CE), the likelihood is that Hairan employed two sculptors from the same workshop simultaneously in order to make a double dedication."
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newSection2)
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newInfo2)

                let newSection3 = document.createElement("h4")
                newSection3.innerHTML = "Editor's Note: Month Nisan"
                let newInfo3 = document.createElement("text")
                newInfo3.innerHTML = "Nisan is a month in the Hebrew calendars, corresponding roughly to April. Although Palmyrene inscriptions from Dura-Europos use the Seleucid Era for dating the years, their practice seems to have been to use the Hebrew calendar for the months. Find out more at https://en.wikipedia.org/wiki/Nisan"
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newSection3)
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newInfo3)

                let newSection4 = document.createElement("h4")
                newSection4.innerHTML = "Editor's Note: Year 470"
                let newInfo4 = document.createElement("text")
                newInfo4.innerHTML = "The year 470 refers to a date in the Seleucid Era, a system of dating instituted by the dynasty of Hellenistic kings created by Seleucus I Nicator. Despite the collapse of the Seleucids and the take over of the region containing Dura-Europos by the Parthian empire, local populations continued to use the same dating system - as we can see here - right through into the Roman era."
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newSection4)
                $("#גדא\\ די\\ דוא\\ עבד\\ חירנ\\ \\/\\ בר\\ מלכו\\ בר\\ נצור\\ בירח\\ ניסנ\\ \\/\\ שנת\\ 470").append(newInfo4)

                let newSection5 = document.createElement("h4")
                newSection5.innerHTML = "Editor's Note: Seleukos Nikator"
                let newInfo5 = document.createElement("text")
                newInfo5.innerHTML = "Hellenistic King and founder of the Seleucid Empire. Legendary founder of Dura-Europos. Find out more at https://en.wikipedia.org/wiki/Seleucus_I_Nicator "
                $("#סלוקוס\\ \\/\\ ניקטור").append(newSection5)
                $("#סלוקוס\\ \\/\\ ניקטור").append(newInfo5)

                let newSection6 = document.createElement("h4")
                newSection6.innerHTML = "Editor's Note: Hairan son of Maliku"
                let newInfo6 = document.createElement("text")
                newInfo6.innerHTML = "Hairan son of Maliku was a member of the Palmyrene aristocracy associated with Dura-Europos in the 2nd century CE. Scholars have suggested that he may be an ancestor of the husband of Queen Zenobia, the Palmyrene ruler who rebelled against the Roman empire in the 3rd century CE. He is known from two relief inscriptions at Dura-Europos, one dedicated to the Gad of Dura and the other to the Tyche of Palmyra. The sanctuary in which these two dedications were made, the Temple of the Gadde, seems to have enjoyed significant financing from Hairan’s family. Ann Perkins observes that the subtle differences in the sculpting of the two pieces indicates that two different craftsmen worked on them. The two are still similar in style, however, and given their close dating (both from 159 CE), the likelihood is that Hairan employed two sculptors from the same workshop simultaneously in order to make a double dedication."
                $("#צלמ\\ חירנ\\ בר\\ \\/\\ מלכו\\ בר\\ נצור").append(newSection6)
                $("#צלמ\\ חירנ\\ בר\\ \\/\\ מלכו\\ בר\\ נצור").append(newInfo6)
            }

        </script>
    </body>

</html>