<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/gear.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Home</title>

    </head>

    <br><br><br>
    <body class="background">
            <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
                <a class="navbar-brand" href="/"><img src="/static/cog.png" style="padding-left: 10%" height="55" alt="COG"></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/qr_code">QR Code Generator</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Dura-Europos">Other Resources</a></li>
                        </ul>
                </div>
            </nav>

        <div class="vertical-center">
            <main class="container p-5">

                <div class="wid">
                    <p>COG (Cellphone Object Guide) is an easy to use interface which... </p>
                    </div>
                    <div class="card-deck cardfontcolor mb-1 d-flex justify-content-center">
                    <div class="card mx-5">
                        <a href="/latin_inscription"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object1"></a>
                        <div class="card-body">
                        <h5 class="card-title">Latin Inscription</h5>
                        <a href="/latin_inscription" class="btn btn-primary stretched-link">Learn More</a>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <a href="/arsu_relief"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object2"></a>
                        <div class="card-body">
                        <h5 class="card-title">Arsu Relief</h5>
                        <a href="/arsu_relief" class="btn btn-primary stretched-link">Learn More</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-deck cardfontcolor d-flex justify-content-center">
                    <div class="card mx-5">
                        <a href="/gad_relief"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object3"></a>
                        <div class="card-body">
                        <h5 class="card-title">Gad Relief</h5>
                        <a href="/gad_relief" class="btn btn-primary stretched-link">Learn More</a>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <a href="/julius_terentius"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object4"></a>
                        <div class="card-body">
                        <h5 class="card-title">Julius Terentius</h5>
                        <a href="/julius_terentius" class="btn btn-primary stretched-link">Learn More</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-deck cardfontcolor d-flex justify-content-center">
                        <div class="card mx-5">
                            <a href="/votive_relief"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object3"></a>
                            <div class="card-body">
                            <h5 class="card-title">Votive Relief</h5>
                            <a href="/votive_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                        <div class="card mx-5">
                            <a href="/mithras_relief"><img src="/static/dura-fX2_01.png" class="card-img-top" alt="object4"></a>
                            <div class="card-body">
                            <h5 class="card-title">Mithras Relief</h5>
                            <a href="/mithras_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                        </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                        <p>Contact: <a href="mailto:cog@yale.edu">cog@yale.edu</a></p>
                </div>
            </main>
        </div>
        <button id="btnScrollToTop"> 
            <i class="material-icons">arrow_upward</i>
        </button> 
        <script> 
            const btnScrollToTop = document.querySelector("#btnScrollToTop"); 
            btnScrollToTop.addEventListener("click", function() { 
                $("html, body").animate({scrollTop: 0 }, "slow"); 
            }); 
        </script>
    </body>

</html>