<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/gear.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Home</title>

    </head>

    <br><br><br>
    <body class="background">
            <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
                <a class="navbar-brand" href="/"><img src="/static/cog.png" style="padding-left: 10%" height="55" alt="COG"></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/qr_code">QR Code Generator</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Dura-Europos" target="_blank">Other Resources</a></li>
                        </ul>
                </div>
            </nav>

        <div class="vertical-center">
            <main class="container p-5">
                <div class="wid">
                    <h1> Welcome to <span style="color: green">C</span><span style="color: blue">O</span><span style="color: red">G</span> (<span style="color: green">Cellphone</span> <span style="color: blue">Object</span> <span style="color: red">Guide</span>) </h1>
                    <p>
                        Primarily meant for mobile viewing within a museum from a scanned QR code unique to each object, COG aims to provide an effective, modern solution to the space constrains of a printed museum label.
                        Working with the potential to expand/collapse sections with a single click and the ability of the viewer to press on the specific parts of images that interest them, large amounts of information can be presented in an economical manner.
                        Specifically, COG provides detailed information about 6 objects from the ancient city Dura-Europos, 
                        with an emphasis on providing accessible translations of the numerous inscriptions on the objects as well as the specifics of what each object depicts.
                    </p>
                    <p> Select an object below to explore! </p>
                </div>
                    <div class="card-deck cardfontcolor mb-1 d-flex justify-content-center">
                        <div class="card mx-5">
                            <a href="/latin_inscription"><img src="{{images[0]}}" class="card-img-top" alt="object1"></a>
                            <div class="card-body">
                            <h5 class="card-title">Latin Inscription from the Praetorium at Dura</h5>
                            <a href="/latin_inscription" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                        <div class="card mx-5">
                            <a href="/arsu_relief"><img src="{{images[1]}}" class="card-img-top" alt="object2"></a>
                            <div class="card-body">
                                <h5 class="card-title">Relief of Arsu</h5>
                                <a href="/arsu_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-deck cardfontcolor d-flex justify-content-center">
                        <div class="card mx-5">
                            <a href="/gad_relief"><img src="{{images[2]}}" class="card-img-top" alt="object3"></a>
                            <div class="card-body">
                            <h5 class="card-title">Cult relief of the Gad (Fortune) of Dura, from the Temple of the Gadde</h5>
                            <a href="/gad_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                        <div class="card mx-5">
                            <a href="/julius_terentius"><img src="{{images[3]}}" class="card-img-top" alt="object4"></a>
                            <div class="card-body">
                                <h5 class="card-title">Julius Terentius Performing a Sacrifice</h5>
                                <a href="/julius_terentius" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-deck cardfontcolor d-flex justify-content-center">
                        <div class="card mx-5">
                            <a href="/votive_relief"><img src="{{images[4]}}" class="card-img-top" alt="object5"></a>
                            <div class="card-body">
                                <h5 class="card-title">Votive Relief of the Goddess Nemesis</h5>
                                <a href="/votive_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                        <div class="card mx-5">
                            <a href="/mithras_relief"><img src="{{images[5]}}" class="card-img-top" alt="object6"></a>
                            <div class="card-body">
                                <h5 class="card-title">Cult Relief of Mithras Slaying the Bull (Tauroctony)</h5>
                                <a href="/mithras_relief" class="btn btn-primary stretched-link">Learn More</a>
                            </div>
                        </div>
                    </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                <p>Contact: <a href="mailto:jasmine.sahu-hough@yale.edu">jasmine.sahu-hough@yale.edu</a></p>
                </div>
            </main>
        </div>
        <button id="btnScrollToTop"> 
            <i class="material-icons">arrow_upward</i>
        </button> 
        <script> 
            const btnScrollToTop = document.querySelector("#btnScrollToTop"); 
            btnScrollToTop.addEventListener("click", function() { 
                $("html, body").animate({scrollTop: 0 }, "slow"); 
            }); 
        </script>
    </body>

</html>