<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="gear.ico" rel="icon">

        <link href="styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Scratch Object</title>

</head>

    </head>
    <br><br><br>
    <body class="background">
            <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
                <a class="navbar-brand" href="index.html"><span style="color: gray;">COG</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="#about">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#setlist">QR Code Generator</a></li>
                            <li class="nav-item"><a class="nav-link" href="#videos">Other Resources</a></li>
                        </ul>
                </div>
            </nav>

        <div class="vertical-center">
            <main class="container p-5">

                <div class="wid">
                    <h1> Object 1 </h1>
                    <img src="dura-fX2_01.png" alt="object1">
                    <br>
                    <h3>Inscription 1</h5>
                    <h4>Translation</h4>
                    <p> Explaination of what is going on </p>
                    <img src="dura-satellite.jpg" alt="locational image">
                </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                        <p>Contact: <a href="mailto:cog@yale.edu">cog@yale.edu</a></p>
                </div>
            </main>
        </div>
    </body>

</html>