<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/gear.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Votive Relief</title>

    </head>

    <br><br><br>
    <body class="background" onload="addInfo()">
        <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top scrolling-navbar background">
            <a class="navbar-brand" href="/"><img src="/static/cog.png" style="padding-left: 10%" height="55" alt="COG"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/qr_code">QR Code Generator</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Dura-Europos">Other Resources</a></li>
                    </ul>
            </div>
        </nav>

        <div class="vertical-center">
            <main class="container">

                <div class="wid">
                    <a href="#explanation">
                        <h1> Votive Relief of the goddess Nemesis </h1>
                    </a>
                    <div class= "wrapper">
                            <img src={{image}} alt="object1" class="img-fluid">
                            {%for entry in depictions%}
                                <a href="#{{loop.index-1}}depicts">
                                    <div class="boundingbox depictions" style="left: {{entry[1][0]}}%; top: {{entry[1][1]}}%; padding-right: {{entry[1][2] * 0.9}}%; padding-bottom: {{entry[1][3]}}%;" id="{{loop.index-1}}depictspos"></div>
                                </a>
                            {%endfor%}
                            {%for entry in translations%}
                                <a href="#{{loop.index-1}}inscripts">
                                    <div class="boundingbox inscriptions" style="left: {{entry[2][0]}}%; top: {{entry[2][1]}}%; padding-right: {{entry[2][2] * 0.9}}%; padding-bottom: {{entry[2][3]}}%;" id="{{loop.index-1}}inscriptspos"></div>
                                </a>
                            {%endfor%}
                    </div>
                    <br>
                    <label for="boxes">Select the boxes you would like to see:</label>

                    <select name="boxes" id="boxes">
                        <option value="all" selected>All</option>
                        <option value="inscriptions">Inscriptions only</option>
                        <option value="depictions">Depictions only</option>
                    </select>
                    <br>

                    <label for="inscolors">If desired, change inscription bounding box outline color:</label>

                    <select name="inscolors" id="inscolors">
                        <option value="blue" selected>Blue</option>
                        <option value="silver">Silver</option>
                        <option value="red">Red</option>
                        <option value="black">Black</option>
                    </select>
                    <br>
                    <label for="depcolors">If desired, change depiction bounding box outline color:</label>

                    <select name="depcolors" id="depcolors">
                        <option value="blue">Blue</option>
                        <option value="silver">Silver</option>
                        <option value="red" selected>Red</option>
                        <option value="black">Black</option>
                    </select>

                    <br>
                    <div>
                        <!-- Loading in data from Flask and using Jinja to put the data onto the page-->
                        <h1>Inscriptions on this Object</h1> <br>
                        {%for entry in translations%}
                            <div id="{{loop.index-1}}inscripts">
                                <h4> Inscription:</h4>
                                    <text>{{entry[0]}}</text>
                                    <br>
                                <h4>Translation:</h4>
                                    <text>{{entry[1]}}</text>
                                    <br>
                            </div>
                            <a onclick="emphasize_border(event)" href="#{{loop.index-1}}inscriptspos"> 
                                <h4>Location on Image</h4> 
                            </a>
                            <hr style="border-width:5px">    
                        {%endfor%}
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Depictions on this Object</h1> <br>
                        {%for entry in depictions%}
                            {% set title = page_titles[loop.index-1] %}
                            <div id="{{loop.index-1}}depicts">
                                <h4>Depicts:</h4>
                                    <a href="{{entry[0]}}">{{title}}</a>
                                <a onclick="emphasize_border(event)" href="#{{loop.index-1}}depictspos"> 
                                    <h4>Location on Image</h4> 
                                </a>
                            </div>
                            <hr style="border-width:5px">
                        {%endfor%}
                    </div>

                    <a id="explanation">
                        <p> Explaination of what is going on </p>
                    </a>
                    <p>The Location Shown Below is Approximate, calculated from Map Coordinates and Projected onto a Satellite Image of Dura-Europos</p>
                    <div class= "wrapper" onLoad="loadfunc(40.727421, 34.750515)">
                        <img src="http://www.athenapub.com/aria1/_Syria/md_syria-dura-satellite.jpg" alt="map" class="img-fluid">
                        <div id="pinpoint" class= "pinpoint" style= "">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="0 0 256 256" xml:space="preserve" >
                                <desc>Created with Fabric.js 1.7.22</desc>
                                <defs>
                                </defs>
                                <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                                    <path d="M 45 0 C 25.463 0 9.625 15.838 9.625 35.375 c 0 8.722 3.171 16.693 8.404 22.861 L 45 90 l 26.97 -31.765 c 5.233 -6.167 8.404 -14.139 8.404 -22.861 C 80.375 15.838 64.537 0 45 0 z M 45 48.705 c -8.035 0 -14.548 -6.513 -14.548 -14.548 c 0 -8.035 6.513 -14.548 14.548 -14.548 s 14.548 6.513 14.548 14.548 C 59.548 42.192 53.035 48.705 45 48.705 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                                </g>
                                </svg>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="border-top">
                <br>
                <p>Contact: <a href="mailto:jasmine.sahu-hough@yale.edu">jasmine.sahu-hough@yale.edu</a></p>
                </div>
            </main>
        </div>
        <a href="#top">
            <button id="btnScrollToTop"> 
                <i class="material-icons">arrow_upward</i>
            </button> 
        </a>
        <script> 
            var emphasized = null;
 
            function emphasize_border(event) {
                let anchor = event.target.closest("a");
                let temp = anchor.getAttribute("href");
                let color = null;
                if (temp.includes("inscript")) {
                    color = $("#inscolors").val();
                } else {
                    color = $("#depcolors").val();
                }
                
                if (emphasized != null) {
                    $(emphasized).css("border", "3px solid " + color);
                }
                
                emphasized = temp;
                $(emphasized).css("border", "5px dashed " + color);
            }

            document.addEventListener('DOMContentLoaded', function() {
                const xval = (40.727209 * 60321.7158176944) - 2456580;
                const yval = (34.746337 *  -79238.8525986936) + 2753796.232036354943122;
                const xpercent = (xval / 703) * 100;
                const ypercent = (yval / 800) * 100;
                const xpercentstring = xpercent.toString() + '%';
                const ypercentstring = ypercent.toString() + '%';
                $('.pinpoint').css("top", ypercentstring);
                $('.pinpoint').css("left", xpercentstring); 
            }, false);
            
            $("#inscolors").change(function(){
                let color = $("#inscolors").val();
                $('.inscriptions').css("border", "solid " + color);
                $('path').css("fill", color);
            });
            
            $("#depcolors").change(function(){
                let color = $("#depcolors").val();
                $('.depictions').css("border", "solid " + color);
                $('path').css("fill", color);
            });

            $("#boxes").change(function(){
                let visibility = $("#boxes").val();

                if (visibility == "inscriptions") {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "hidden")
                }
                else if (visibility == "depictions") {
                    $('.inscriptions').css("visibility", "hidden")
                    $('.depictions').css("visibility", "visible")
                }
                else {
                    $('.inscriptions').css("visibility", "visible")
                    $('.depictions').css("visibility", "visible")
                }
            });

            function addInfo() {
                let newSection = document.createElement("h4")
                newSection.innerHTML = "Editor's Note: Julius Aurelius Malochus"
                let newInfo = document.createElement("text")
                newInfo.innerHTML = "The ‘Malochus’ element of this personal name is Aramaic and means ‘counselor’. It has also been found in another inscription from Palmyra, dated to 265 CE, which names a Julius Aurelius Septimius Malkhu son of Maloka son of Nassum. Charles Torrey suggests that since this Maloka was a contemporary of the Maloka in this inscription, they may have come from the same family. It is significant to note that the individual who dedicated this relief uses a Roman tria nomina - the naming convention consisting of three parts which was the preserve of Roman citizens. Find out more about the tria nomina at https://en.wikipedia.org/wiki/Roman_naming_conventions#Tria_nomina"
                $("#Θεᾆ\\ Νεμέσι\\ Ἰούλιος\\ Αὐρήλιος\\ Μαλωχὰς\\ \\/\\ Σουδαίου\\ Παλμυρηνὸς\\ εὐξάμενος\\ ἀνέθηκεν").append(newSection)
                $("#Θεᾆ\\ Νεμέσι\\ Ἰούλιος\\ Αὐρήλιος\\ Μαλωχὰς\\ \\/\\ Σουδαίου\\ Παλμυρηνὸς\\ εὐξάμενος\\ ἀνέθηκεν").append(newInfo)

                let newSection2 = document.createElement("h4")
                newSection2.innerHTML = "Editor's Note: Nemesis"
                let newInfo2 = document.createElement("text")
                newInfo2.innerHTML = "Greco-Roman goddess known for exacting retribution from individuals who show hubris. Find out more at https://en.wikipedia.org/wiki/Nemesis"
                $("#Θεᾆ\\ Νεμέσι\\ Ἰούλιος\\ Αὐρήλιος\\ Μαλωχὰς\\ \\/\\ Σουδαίου\\ Παλμυρηνὸς\\ εὐξάμενος\\ ἀνέθηκεν").append(newSection2)
                $("#Θεᾆ\\ Νεμέσι\\ Ἰούλιος\\ Αὐρήλιος\\ Μαλωχὰς\\ \\/\\ Σουδαίου\\ Παλμυρηνὸς\\ εὐξάμενος\\ ἀνέθηκεν").append(newInfo2)

                let newSection3 = document.createElement("h4")
                newSection3.innerHTML = "Editor's Note: Maloka"
                let newInfo3 = document.createElement("text")
                newInfo3.innerHTML = "Maloka is an Aramaic personal name which means ‘counselor’. It has also been found in another inscription from Palmyra, dated to 265 CE, which names a Julius Aurelius Septimius Malkhu son of Maloka son of Nassum. Charles Torrey suggests that since this Maloka was a contemporary of the Maloka in this inscription, they may have come from the same family."
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newSection3)
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newInfo3)

                let newSection4 = document.createElement("h4")
                newSection4.innerHTML = "Editor's Note: Shudai"
                let newInfo4 = document.createElement("text")
                newInfo4.innerHTML = "Shudai is an Aramaic personal name, which Charles Torrey identifies as deriving from the word meaning ‘promise’ or ‘acknowledgement’. The Greek version of this name, Σουδαίας, is also attested on a stela from Hauran. Torrey speculates that they may refer to the same person. Lucinda Dirven notes, however, that the name is not attested in Palmyra."
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newSection4)
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newInfo4)

                let newSection5 = document.createElement("h4")
                newSection5.innerHTML = "Editor's Note: Nemesis"
                let newInfo5 = document.createElement("text")
                newInfo5.innerHTML = "Greco-Roman goddess known for exacting retribution from individuals who show hubris. Intriguingly, unlike other Greco-Roman gods, for whom a Palmyrene equivalent was identified, Nemesis’ name is simply transliterated in the Aramaic text. At the time this relief was discovered, it was the first time the name of the goddess had been found in a Semitic inscription. Find out more about Nemesis at https://en.wikipedia.org/wiki/Nemesis"
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newSection5)
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newInfo5)

                let newSection6 = document.createElement("h4")
                newSection6.innerHTML = "Editor's Note: Year 556"
                let newInfo6 = document.createElement("text")
                newInfo6.innerHTML = "This date, given in Aramaic numerals, gives a year from the Seleucid Era dating system. This mode of dating was instituted by the dynasty of Hellenistic kings created by Seleucus I Nicator. Despite the collapse of the Seleucids and the take over of the region containing Dura-Europos by the Parthian empire, local populations continued to use the same dating system - as we can see here - right through into the Roman era."
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newSection6)
                $("#עבד\\ ומודא\\ מלוכא\\ בר\\ שודי\\ תדמריא\\ לנמסיס\\ \\/\\ שנת\\ \\ 556").append(newInfo6)
            }
        </script>
    </body>

</html>